/********** Template CSS **********/
/* .home-page{
    text-align: justify;
} */
:root {
  --primary: #33b6fb;
  --secondary: #4a99e0;
  --light: #f8f2f0;
  --dark: #060315;
}

.fw-medium {
  font-weight: 600 !important;
}

.back-to-top {
  position: fixed;
  display: none;
  right: 45px;
  bottom: 45px;
  z-index: 99;
}
.dashboadmainarea .IXcard {
  border: 1px solid #ced4da;
}
.dashboadmainarea .IXcard h6 {
  color: #20a1db;
}
/*** Spinner ***/
#spinner {
  opacity: 0;
  visibility: hidden;
  transition: opacity 0.5s ease-out, visibility 0s linear 0.5s;
  z-index: 99999;
}

#spinner.show {
  transition: opacity 0.5s ease-out, visibility 0s linear 0s;
  visibility: visible;
  opacity: 1;
}

/*** Button ***/
.btn {
  font-weight: 600;
  transition: 0.5s;
}

.btn.btn-primary,
.btn.btn-secondary {
  color: #ffffff;
}

.btn-square {
  width: 38px;
  height: 38px;
}

.btn-sm-square {
  width: 32px;
  height: 32px;
}

.btn-lg-square {
  width: 48px;
  height: 48px;
}

.btn-square,
.btn-sm-square,
.btn-lg-square {
  padding: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: normal;
}
.btn-slide {
  display: flex !important;
}
.service-item {
  min-height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.service-item p {
  display: -webkit-box;
  -webkit-line-clamp: 5;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
}
img.logo {
  width: 100%;
  height: 73px;
}
/*** Navbar ***/
.navbar .dropdown-toggle::after {
  border: none;
  content: "\f107";
  font-family: "Font Awesome 5 Free";
  font-weight: 900;
  vertical-align: middle;
  margin-left: 8px;
}

.navbar-light .navbar-nav .nav-link {
  position: relative;
  margin-right: 30px;
  padding: 25px 0;
  color: #ffffff;
  font-size: 15px;
  text-transform: uppercase;
  outline: none;
}

.navbar-light .navbar-nav .nav-link:hover,
.navbar-light .navbar-nav .nav-link.active {
  color: var(--primary);
}
.bgBlue {
  background-color: var(--primary) !important;
}
.text_Blue {
  color: var(--primary) !important;
}
@media (max-width: 991.98px) {
  .navbar-light .navbar-nav .nav-link {
    margin-right: 0;
    padding: 10px 0;
  }

  .navbar-light .navbar-nav {
    border-top: 1px solid #eeeeee;
  }
}

.navbar-light .navbar-brand,
.navbar-light a.btn {
  height: 75px;
}

.navbar-light .navbar-nav .nav-link {
  color: var(--dark);
  font-weight: 500;
}

.navbar-light.sticky-top {
  top: -100px;
  transition: 0.5s;
}

@media (min-width: 992px) {
  .navbar-light .navbar-nav .nav-link::before {
    position: absolute;
    content: "";
    width: 0;
    height: 5px;
    top: -6px;
    left: 50%;
    background: #ffffff;
    transition: 0.5s;
  }

  .navbar-light .navbar-nav .nav-link:hover::before,
  .navbar-light .navbar-nav .nav-link.active::before {
    width: 100%;
    left: 0;
  }

  .navbar-light .navbar-nav .nav-link.nav-contact::before {
    display: none;
  }

  .navbar .nav-item .dropdown-menu {
    display: block;
    border: none;
    margin-top: 0;
    top: 150%;
    opacity: 0;
    visibility: hidden;
    transition: 0.5s;
  }

  .navbar .nav-item:hover .dropdown-menu {
    top: 100%;
    visibility: visible;
    transition: 0.5s;
    opacity: 1;
  }
}

/*** Header ***/
@media (max-width: 768px) {
  .header-carousel .owl-carousel-item {
    position: relative;
    min-height: 500px;
  }

  .header-carousel .owl-carousel-item img {
    position: absolute;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  .header-carousel .owl-carousel-item h5,
  .header-carousel .owl-carousel-item p {
    font-size: 14px !important;
    font-weight: 400 !important;
  }

  .header-carousel .owl-carousel-item h1 {
    font-size: 30px;
    font-weight: 600;
  }
}

.header-carousel .owl-nav {
  position: absolute;
  top: 50%;
  right: 8%;
  transform: translateY(-50%);
  display: flex;
  flex-direction: column;
}

.header-carousel .owl-nav .owl-prev,
.header-carousel .owl-nav .owl-next {
  margin: 7px 0;
  width: 45px;
  height: 45px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #ffffff;
  background: transparent;
  border: 1px solid #ffffff;
  border-radius: 45px;
  font-size: 22px;
  transition: 0.5s;
}

.header-carousel .owl-nav .owl-prev:hover,
.header-carousel .owl-nav .owl-next:hover {
  background: var(--primary);
  border-color: var(--primary);
}

.page-header {
  background: linear-gradient(rgba(6, 3, 21, 0.5), rgba(6, 3, 21, 0.5)),
    url(../public/img/carosel-1.png) center center no-repeat;
  background-size: cover;
}

.breadcrumb-item + .breadcrumb-item::before {
  color: var(--light);
}
p.home-page {
  display: -webkit-box;
  -webkit-line-clamp: 4;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
}
.homeslider h1,
.homeslider p {
  padding: 2px 4px;
  text-shadow: 1px 1px 2px #7e7e7e, 0 0 1em #535455, 0 0 0.1em #636464;
  border-radius: 14px;
}
.row {
  width: 100% !important;
  margin-inline: auto !important;
}
.container-fluid {
  max-width: 1440px !important;
  margin-inline: auto !important;
  padding-inline: 50px !important;
  width: 100% !important;
}
.imground {
  border-radius: 15px;
  box-shadow: 0px 0px 19px #00000047;
}
.contactsec {
  background: #f4fbff;
}
.service-item > div,
.service-item {
  border-radius: 10px;
}
/*** About ***/
@media (min-width: 992px) {
  .container.about {
    max-width: 100% !important;
  }

  .about-text {
    padding-right: calc(((100% - 960px) / 2) + 0.75rem);
  }
}

@media (min-width: 1200px) {
  .about-text {
    padding-right: calc(((100% - 1140px) / 2) + 0.75rem);
  }
}

@media (min-width: 1400px) {
  .about-text {
    padding-right: calc(((100% - 1320px) / 2) + 0.75rem);
  }
}

/*** Feature ***/
@media (min-width: 992px) {
  .container.feature {
    max-width: 100% !important;
  }

  .feature-text {
    padding-left: calc(((100% - 960px) / 2) + 0.75rem);
  }
}

@media (min-width: 1200px) {
  .feature-text {
    padding-left: calc(((100% - 1140px) / 2) + 0.75rem);
  }
}

@media (min-width: 1400px) {
  .feature-text {
    padding-left: calc(((100% - 1320px) / 2) + 0.75rem);
  }
}

/*** Service, Price & Team ***/
.service-item,
.price-item,
.team-item {
  box-shadow: 0 0 45px rgba(0, 0, 0, 0.07);
}

.service-item img,
.team-item img {
  transition: 0.5s;
}

.service-item:hover img,
.team-item:hover img {
  /* transform: scale(1.1); */
}

.service-item a.btn-slide,
.price-item a.btn-slide,
.team-item div.btn-slide {
  position: relative;
  display: inline-block;
  overflow: hidden;
  font-size: 0;
}

.service-item a.btn-slide i,
.service-item a.btn-slide span,
.price-item a.btn-slide i,
.price-item a.btn-slide span,
.team-item div.btn-slide i,
.team-item div.btn-slide span {
  position: relative;
  height: 40px;
  padding: 0 15px;
  display: inline-flex;
  align-items: center;
  font-size: 16px;
  color: #ffffff;
  background: var(--primary);
  border-radius: 0 35px 35px 0;
  transition: 0.5s;
  z-index: 2;
}

.team-item div.btn-slide span a i {
  padding: 0 10px;
}

.team-item div.btn-slide span a:hover i {
  background: var(--secondary);
}

.service-item a.btn-slide span,
.price-item a.btn-slide span,
.team-item div.btn-slide span {
  padding-left: 0;
  left: -100%;
  z-index: 1;
}

.service-item:hover a.btn-slide i,
.price-item:hover a.btn-slide i,
.team-item:hover div.btn-slide i {
  border-radius: 0;
}

.service-item:hover a.btn-slide span,
.price-item:hover a.btn-slide span,
.team-item:hover div.btn-slide span {
  left: 0;
}

.service-item a.btn-slide:hover i,
.service-item a.btn-slide:hover span,
.price-item a.btn-slide:hover i,
.price-item a.btn-slide:hover span {
  background: var(--secondary);
}

/*** Testimonial ***/
.testimonial-carousel .owl-item .testimonial-item {
  position: relative;
  transition: 0.5s;
}

.testimonial-carousel .owl-item.center .testimonial-item {
  box-shadow: 0 0 45px rgba(0, 0, 0, 0.08);
  animation: pulse 1s ease-out 0.5s;
}

.testimonial-carousel .owl-dots {
  display: flex;
  align-items: center;
  justify-content: center;
}

.testimonial-carousel .owl-dot {
  position: relative;
  display: inline-block;
  margin: 0 5px;
  width: 15px;
  height: 15px;
  background: var(--primary);
  border: 5px solid var(--light);
  border-radius: 15px;
  transition: 0.5s;
}

.testimonial-carousel .owl-dot.active {
  background: var(--light);
  border-color: var(--primary);
}
.fs-11 {
  font-size: 11px !important;
}
.fade.mainmodelP.modal.show {
  z-index: 1050;
}
.addProductForm {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 8px;
}
.tarifsearch {
  border: 1px solid #d0cbcb;
  padding: 9px;
  border-radius: 5px;
}
.addProductForm * {
  background: white;
  border: 1px solid #d0cbcb;
  width: 49%;
  padding: 9px;
  border-radius: 5px;
}
.step-indicator {
  position: relative;
}
.step-indicator::after {
  content: "";
  width: 100%;
  height: 3px;
  background: rgb(255, 255, 255);
  position: absolute;
  left: 0;
  top: 15px;
  z-index: 1;
}
.step-indicator.active:after {
  background: #0f8dfd;
}

.formgroupk {
  border: 1px solid #fff;
  padding: 11px;
  border-radius: 8px;
  margin-block: 5px;
  box-shadow: 0px 0px 8px #00000045;
  width: 49%;
  height: 100px;
}
.h-150 {
  height: 149px;
}
.form-control,
.css-13cymwt-control,
.PhoneInputInput,
.form-select,
.formgroupk input {
  border-radius: 6px !important;
  background: #e6f3ff !important;
}
.PhoneInputInput {
  border: 1px solid #ccc;
  min-height: 38px;
}
.modal-body button,
.modal-footer button {
  border-radius: 6px;
}
.btn-close {
  box-shadow: 0px 0px 7px red;
  border-radius: 5px;
}
.modal-body h6 {
  letter-spacing: 1px;
  font-weight: normal;
  font-size: 20px;
}
tr td {
  text-align: center;
  vertical-align: middle;
}
tr th {
  font-size: 12px;
  width: min-content;
  min-width: 82px;
}
/*** Contact ***/
@media (min-width: 992px) {
  .container.contact-page {
    max-width: 100% !important;
  }

  .contact-page .contact-form {
    padding-left: calc(((100% - 960px) / 2) + 0.75rem);
  }
  .modal-lg,
  .modal-xl {
    --bs-modal-width: 1000px !important;
  }
}

@media (min-width: 1200px) {
  .contact-page .contact-form {
    padding-left: calc(((100% - 1140px) / 2) + 0.75rem);
  }
}

@media (min-width: 1400px) {
  .contact-page .contact-form {
    padding-left: calc(((100% - 1320px) / 2) + 0.75rem);
  }
}

/*** Footer ***/
.footer {
  background: linear-gradient(rgba(6, 3, 21, 0.5), rgba(6, 3, 21, 0.5)),
    url(../public/img/map.png) center center no-repeat;
  background-size: cover;
}

.footer .btn.btn-social {
  margin-right: 5px;
  width: 35px;
  height: 35px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--light);
  border: 1px solid #ffffff;
  border-radius: 35px;
  transition: 0.3s;
}

.footer .btn.btn-social:hover {
  color: var(--primary);
}

.footer .btn.btn-link {
  display: block;
  margin-bottom: 5px;
  padding: 0;
  text-align: left;
  color: #ffffff;
  font-size: 15px;
  font-weight: normal;
  text-transform: capitalize;
  transition: 0.3s;
}

.footer .btn.btn-link::before {
  position: relative;
  content: "\f105";
  font-family: "Font Awesome 5 Free";
  font-weight: 900;
  margin-right: 10px;
}

.footer .btn.btn-link:hover {
  letter-spacing: 1px;
  box-shadow: none;
}

.footer .copyright {
  padding: 25px 0;
  font-size: 15px;
  border-top: 1px solid rgba(256, 256, 256, 0.1);
}

.footer .copyright a {
  color: var(--light);
}

/* kamal */

.service-item img {
  border-radius: 10px;
  max-height: 175px;
  object-fit: cover;
}
.service-item .btn-slide i {
  border-radius: 0 !important;
}
.service-item .btn-slide span {
  left: 0 !important;
}
p {
  text-align: justify;
}
h6.text-secondary {
  font-size: 1.6rem;
}
.testimonial-slider .slick-center .testimonial-item {
  box-shadow: 0 0 45px rgba(0, 0, 0, 0.08);
  animation: pulse 1s ease-out 0.5s;
  border-radius: 12px;
}
.testimonial-item {
  position: relative;
}
.slick-prev:before,
.slick-next:before {
  display: none;
}
.contact-form-p .row .col-lg-5,
.contact-form-p .row .col-lg-7 {
  width: 100% !important;
}
.contact-form-p .row .col-lg-7 .bg-light {
  padding-inline: 10px !important;
}
.contact-form-p .contactsec {
  margin-bottom: 0 !important;
}
.contact-form-p .container-fluid {
  padding: 0 !important;
}
._2ka8NZmhs89Mkk9ABZSXJM {
  background: #33b6fb !important;
}
._1u851ouxDJfg-gViPaCh3C p,
._2tU2wKoG7YY564aace37OF,
._2tU2wKoG7YY564aace37OF {
  color: white !important;
}
#marketplace main {
  background: #fff !important;
  box-shadow: 0px 0px 20px #0000001a;
  border-radius: 16px;
  margin-top: 25px;
  padding-top: 15px;
}
.signup {
  padding: 50px;
  display: flex;
  justify-content: center;
}
.logincont {
  max-width: 350px;
  background: white;
  padding: 20px;
}
.sidebar {
  min-width: 250px;
}
.fs-14 {
  font-size: 14px !important;
}
button[type="submit"] {
  background: #33b6fb;
}
.dashboardpage #navbarCollapse .homeP,
.dashboardpage #navbarCollapse .aboutP,
.dashboardpage #navbarCollapse .servicesP {
  display: none;
}
@media (min-width: 700px) {
  .img-fluid {
    max-width: 100%;
    height: 550px;
    width: 100%;
  }
  .carousel-control-prev,
  .carousel-control-next {
    width: 11%;
  }
}
@media (max-width: 500px) {
  #navbarCollapse {
    position: absolute;
    width: 100%;
    background: white;
    left: 0;
    top: 100%;
  }
  .carousel-control-prev-icon {
    margin-right: 50%;
  }
  .carousel-control-next-icon {
    margin-left: 50%;
  }
  .slideInDown {
    font-size: 30px;
    font-weight: 600;
  }

  .carousel-item {
    padding-left: 3rem;
  }

  .home-page {
    font-size: 14px !important;
    font-weight: 400 !important;
  }
  .carousel-item .position-relative {
    min-height: 500px !important;
  }
  .carousel-item .img-fluid {
    position: absolute;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  .btn.btn-secondary.slideInRight {
    font-size: 10px;
  }

  .btn.btn-primary.slideInLeft {
    font-size: 10px;
  }
}
